{{% extends 'base.html' %}
{% block content %}
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="{% url 'edit_profile' %}" method="post">
                <fieldset>
                    <legend>Edit Profile</legend>
                    {{ edit_profile_form }}
                    <input class="button submit" type="submit" value="Edit">
                </fieldset>
                {% csrf_token %}
            </form>
        </section>
{% endblock %}
