{% extends 'base.html' %}
{% block content %}
    <!-- Dashboard Page-->
    <section id="dashboard-page" class="dashboard">
        <h1>Dashboard</h1>
        {% if not books %}
            <!-- Display paragraph: If the user doesn't have any books  -->
            <p class="no-books">No books in database!</p>
        {% endif %}
        {% for book in books %}
            <ul class="my-books-list">

                <li class="myBooks">
                    <h3>{{ book.title }}</h3>
                    <p>Type: {{ book.type }}</p>
                    <p class="img"><img src="{{ book.image }}" alt="">
                    </p>
                    <a class="button" href="{% url 'details_book' pk=book.id %}">Details</a>
                </li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}